@{
    Layout = "_Layout";
}
<style>
    .alert-danger {
        color: white;
        background-color: red;
        border-color: darkred;
    }

</style>
<div class="alert alert-danger" role="alert">
    @ViewBag.Message
</div>
